<% layout("/layouts/boilerplate") %>
<link rel="stylesheet" href="\css\style.css" />
<link rel="stylesheet" href="\css\rating.css" />

<div class="row mt-3">
    <div class="alert alert-danger col-6 offset-3" role="alert">
        <!-- <svg class="bi flex-shrink-0 me-2" role="img" arai-label="Danger:"><use xlink:href="#exclamation-triange-fill"/></svg> -->
        <p class="alert-heading "><%= message %></p>
        
    </div>
    </div>
</div>
 
